<label>Server name: </label>
<!-- Passing the event data to function -->
<input type="text" class="form-control" (input)="onUpdateOfServerName($event)" />
<p>{{ serverName }}</p>
<!-- Property binding: Here what I am saying to Angular is, bind the property disabled to the result of property/variable 
allowNewServer. I.e. if allowNewServer = false then disabled = true & if allowNewServer = true then disabled = false. -->
<!-- (): Event binding in Angular. E.g. (click) = onclick -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreation()">Add Server</button>
<!-- Example of string interpolation: Use it when you want to dynamically output a text/string -->
<p>{{ allowNewServer }}</p>
<!-- The same example with property binding: binding the html propery innerText of p element to the TypeScript property/variable allowNewServer-->
<p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>